* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
  background-color: #B4E4E6;
  color: #453D3D;
}

p {
  font-size: 1.1em;
}

button {
  background-color: #B32274;
  font-size: 1.5em;
  color: white;
  height: 2em;
  width: 10em;
  border: 1px solid #B32274;
  border-radius: 0.5em;
}

img {
  height: 6.5em;
  width: 6.5em;
}